<!-- Toolbar -->
<div class="toolbar"
     role="banner">
     <img width="40"
          alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
     <span>Test Tasks</span>
</div>

<div class="content">
     <h1>Question 1</h1>
     <form [formGroup]="question1From">

          <mat-form-field appearance="outline">
               <mat-label>R's value</mat-label>
               <input matInput
                      type="number"
                      min="1"
                      max="105"
                      formControlName="R"
                      [required]="true"
                      placeholder="R =">
               <mat-error *ngIf="R?.errors?.['required'] && question1From.controls['R'].touched">R is required
               </mat-error>
               <mat-error *ngIf="R?.errors?.['min']">1 &lt;= R &lt;=105</mat-error>
               <mat-error *ngIf="R?.errors?.['max']">1 &lt;= R &lt;=105</mat-error>
          </mat-form-field>

          <br>

          <mat-form-field appearance="outline">
               <mat-label>K's value</mat-label>
               <input matInput
                      type="number"
                      min="1"
                      max="105"
                      formControlName="K"
                      [required]="true"
                      placeholder="K =">
               <mat-error *ngIf="K?.errors?.['required'] && question1From.controls['K'].touched">K is required
               </mat-error>
               <mat-error *ngIf="K?.errors?.['min']">1 &lt;= K &lt;=100</mat-error>
               <mat-error *ngIf="K?.errors?.['max']">1 &lt;= K &lt;=100</mat-error>
          </mat-form-field>

          <br>

          <button mat-raised-button
                  color="primary"
                  [disabled]="!question1From.valid"
                  (click)="calculate()">Calculate</button>
     </form>
     <h3>VeryCool numbers:</h3>
     <h4>{{VeryCool}}</h4>

     <h1>Question 2</h1>
     <form [formGroup]="question2From">
          4 space separated integers
          <br>
          <mat-form-field appearance="fill">
               <mat-label>N M X Y</mat-label>
               <input matInput
                      type="text"
                      formControlName="Numbers"
                      [required]="true"
                      placeholder="N M X Y">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
               <mat-label>Array</mat-label>
               <input matInput
                      type="text"
                      formControlName="Array"
                      [required]="true"
                      placeholder="A = [...]">
          </mat-form-field>
          <br>
          <button mat-raised-button
                  color="primary"
                  (click)="ok()">OK</button>
          <div *ngIf="isLoading">
               <mat-spinner></mat-spinner>
          </div>
          <div *ngIf="!isLoading">
               {{result}}
          </div>
     </form>
</div>

<router-outlet></router-outlet>